<ion-header>
  <div class ="searchCustom">
    <ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-input color="secondary" type="search"
    clear-input="true" inputmode="search"
    (ionChange)="getText($event)" debounce="1000"></ion-input>
    <ion-button>
      <ion-icon name="logo-google"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar>
      <ion-icon name="logo-google"></ion-icon>
    </ion-avatar>
  </ion-card>
</ion-content>
